<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
<div class="errorPage">
    <span class="oops">Oops!</span><br/>
    <img th:src="@{/MissingPage.jpg}"></img>
    <p>There seems to be a problem with the page you requested (<span th:text="${path}"></span>).</p>
    <p th:text="${timestamp}"></p>
    <p th:text="${status}"></p>
    <p th:text="${error}"></p>
    <p th:text="${exception}"></p>
    <p th:text="${message}"></p>
    <p th:text="${errors}"></p>
    <p th:text="${trace}"></p>
    <p th:text="${path}"></p>
</div>
</body>

</html>